##  Орищенко Виталий
## @Vitosh992

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.preprocessing import LabelEncoder
from catboost import CatBoostClassifier, Pool

In [2]:
df_col = { # Создадим названия для столбцов (оценки по дисциплинам)
    'MA' ,
    'Phys' ,
    'Math_modeling' ,
    'Web_programming' ,
    'db_engineering' ,
    'Computer_graphics'
}

In [3]:
# создадим df со случайными значениями с заданными условиями
df = pd.DataFrame(np.random.randint(0, 100, size=(2000, 6)), columns=list(df_col))

In [4]:
# создадим два отдельных массива со временем и итоговой оценкой
df_time = pd.DataFrame(np.random.randint(15, 120, size=(2000,1)))
df_mark = pd.DataFrame(np.random.randint(0, 3, size=(2000,1)))
# переименуем эти массивы
df_time = df_time[0].rename('time') 
df_mark = df_mark[0].rename('mark')

In [5]:
# соединим исходные массивы данных
df = pd.concat(objs = [df, df_time, df_mark], axis = 1)
#df['mark'] = df['mark'].replace(0, 'ok') # Перевод целочисленных данных в категориальные
#df['mark'] = df['mark'].replace(1, 'good')
#df['mark'] = df['mark'].replace(2, 'perfect')

In [6]:
df

,db_engineering,Web_programming,MA,Math_modeling,Computer_graphics,Phys,time,mark
0,1,86,86,5,15,65,35,1
1,78,90,28,73,28,85,102,0
2,22,21,78,63,96,25,62,1
3,39,14,92,1,71,26,36,0
4,96,1,96,65,55,27,98,1
...,...,...,...,...,...,...,...,...
1995,50,32,54,48,11,59,24,2
1996,32,4,61,14,90,59,41,0
1997,9,92,1,8,75,41,45,0
1998,98,60,11,31,80,93,15,0
1999,55,73,55,22,23,79,104,2

In [7]:
# разделим наш датасет на независимые и зависимые переменные
X = df[['db_engineering', 'Computer_graphics', 'Phys', 'Web_programming', 'MA', 'Math_modeling', 'time']]
Y = df[['mark']]

In [8]:
# разделим нашу выборку на тренировочную и тестовую (тестовой будет 20%)
x_train, x_test, y_train, y_test = model_selection.train_test_split(X, Y, test_size = 0.2, random_state = 9526)

In [9]:
# определим наилучшие три фактора в исходных данных
selector = SelectKBest(chi2, k=3)
x_new = selector.fit_transform(x_train, y_train)
print(selector.get_feature_names_out()) # Вывод трех лучших признаков

['Web_programming' 'MA' 'Math_modeling']

In [10]:
x_train

,db_engineering,Computer_graphics,Phys,Web_programming,MA,Math_modeling,time
1715,83,15,24,18,24,91,85
1720,71,49,58,72,18,58,31
512,62,39,3,92,17,89,105
1774,30,94,88,71,73,37,89
1838,90,22,42,13,13,53,39
...,...,...,...,...,...,...,...
800,30,50,42,28,51,87,32
1402,33,7,46,22,39,4,67
1503,64,57,37,37,69,16,76
311,96,43,61,42,29,96,108
199,88,35,94,52,38,8,24

In [11]:
# зададим гиперпараметры для нашей модели
iterations = 100
depth = 3
learning_rate = 1e-1
verbose = True

In [12]:
# создадим нашу модель классификации
model = CatBoostClassifier(iterations=iterations, depth=depth, learning_rate=learning_rate, verbose=verbose)

In [13]:
# обучим нашу модель на полученных данных
model.fit(x_train, y_train, plot=True)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

0:	learn: 1.0974063	total: 151ms	remaining: 14.9s
1:	learn: 1.0961814	total: 154ms	remaining: 7.53s
2:	learn: 1.0951920	total: 156ms	remaining: 5.05s
3:	learn: 1.0938551	total: 159ms	remaining: 3.81s
4:	learn: 1.0924072	total: 160ms	remaining: 3.05s
5:	learn: 1.0913811	total: 162ms	remaining: 2.54s
6:	learn: 1.0905928	total: 164ms	remaining: 2.18s
7:	learn: 1.0898830	total: 165ms	remaining: 1.9s
8:	learn: 1.0892400	total: 167ms	remaining: 1.69s
9:	learn: 1.0884622	total: 168ms	remaining: 1.52s
10:	learn: 1.0876841	total: 170ms	remaining: 1.37s
11:	learn: 1.0869791	total: 171ms	remaining: 1.25s
12:	learn: 1.0858244	total: 172ms	remaining: 1.15s
13:	learn: 1.0851112	total: 173ms	remaining: 1.06s
14:	learn: 1.0843460	total: 174ms	remaining: 988ms
15:	learn: 1.0836283	total: 176ms	remaining: 922ms
16:	learn: 1.0825653	total: 177ms	remaining: 863ms
17:	learn: 1.0819289	total: 178ms	remaining: 810ms
18:	learn: 1.0812378	total: 179ms	remaining: 762ms
19:	learn: 1.0803905	total: 180ms	remaining: 719ms
20:	learn: 1.0797167	total: 181ms	remaining: 680ms
21:	learn: 1.0786547	total: 182ms	remaining: 644ms
22:	learn: 1.0781438	total: 183ms	remaining: 611ms
23:	learn: 1.0774374	total: 184ms	remaining: 581ms
24:	learn: 1.0771626	total: 184ms	remaining: 553ms
25:	learn: 1.0764684	total: 185ms	remaining: 528ms
26:	learn: 1.0755360	total: 186ms	remaining: 503ms
27:	learn: 1.0746186	total: 187ms	remaining: 481ms
28:	learn: 1.0739862	total: 188ms	remaining: 460ms
29:	learn: 1.0736384	total: 189ms	remaining: 441ms
30:	learn: 1.0728298	total: 190ms	remaining: 423ms
31:	learn: 1.0724747	total: 191ms	remaining: 405ms
32:	learn: 1.0718183	total: 192ms	remaining: 389ms
33:	learn: 1.0711632	total: 192ms	remaining: 374ms
34:	learn: 1.0702125	total: 193ms	remaining: 359ms
35:	learn: 1.0696196	total: 194ms	remaining: 345ms
36:	learn: 1.0692478	total: 195ms	remaining: 332ms
37:	learn: 1.0687424	total: 196ms	remaining: 320ms
38:	learn: 1.0679234	total: 197ms	remaining: 308ms
39:	learn: 1.0677381	total: 198ms	remaining: 297ms
40:	learn: 1.0673299	total: 199ms	remaining: 286ms
41:	learn: 1.0660630	total: 200ms	remaining: 276ms
42:	learn: 1.0653773	total: 200ms	remaining: 266ms
43:	learn: 1.0650361	total: 201ms	remaining: 256ms
44:	learn: 1.0642707	total: 202ms	remaining: 247ms
45:	learn: 1.0639773	total: 203ms	remaining: 238ms
46:	learn: 1.0633664	total: 204ms	remaining: 230ms
47:	learn: 1.0629371	total: 205ms	remaining: 222ms
48:	learn: 1.0620100	total: 206ms	remaining: 214ms
49:	learn: 1.0615826	total: 206ms	remaining: 206ms
50:	learn: 1.0611336	total: 207ms	remaining: 199ms
51:	learn: 1.0605814	total: 208ms	remaining: 192ms
52:	learn: 1.0600023	total: 209ms	remaining: 185ms
53:	learn: 1.0592771	total: 210ms	remaining: 179ms
54:	learn: 1.0586087	total: 211ms	remaining: 172ms
55:	learn: 1.0575561	total: 212ms	remaining: 166ms
56:	learn: 1.0568117	total: 212ms	remaining: 160ms
57:	learn: 1.0564327	total: 213ms	remaining: 154ms
58:	learn: 1.0559852	total: 214ms	remaining: 149ms
59:	learn: 1.0546989	total: 215ms	remaining: 143ms
60:	learn: 1.0543541	total: 216ms	remaining: 138ms
61:	learn: 1.0532587	total: 217ms	remaining: 133ms
62:	learn: 1.0530797	total: 218ms	remaining: 128ms
63:	learn: 1.0521591	total: 219ms	remaining: 123ms
64:	learn: 1.0513156	total: 219ms	remaining: 118ms
65:	learn: 1.0501516	total: 220ms	remaining: 113ms
66:	learn: 1.0497363	total: 221ms	remaining: 109ms
67:	learn: 1.0488197	total: 222ms	remaining: 104ms
68:	learn: 1.0481679	total: 223ms	remaining: 100ms
69:	learn: 1.0477503	total: 224ms	remaining: 95.8ms
70:	learn: 1.0469763	total: 224ms	remaining: 91.7ms
71:	learn: 1.0459426	total: 225ms	remaining: 87.7ms
72:	learn: 1.0456492	total: 226ms	remaining: 83.7ms
73:	learn: 1.0453060	total: 227ms	remaining: 79.8ms
74:	learn: 1.0449263	total: 228ms	remaining: 76ms
75:	learn: 1.0436320	total: 229ms	remaining: 72.3ms
76:	learn: 1.0430040	total: 230ms	remaining: 68.7ms
77:	learn: 1.0427518	total: 231ms	remaining: 65.1ms
78:	learn: 1.0422089	total: 232ms	remaining: 61.6ms
79:	learn: 1.0416953	total: 233ms	remaining: 58.1ms
80:	learn: 1.0412451	total: 234ms	remaining: 54.8ms
81:	learn: 1.0410058	total: 234ms	remaining: 51.4ms
82:	learn: 1.0405206	total: 235ms	remaining: 48.2ms
83:	learn: 1.0401888	total: 236ms	remaining: 45ms
84:	learn: 1.0394996	total: 237ms	remaining: 41.8ms
85:	learn: 1.0390104	total: 238ms	remaining: 38.7ms
86:	learn: 1.0388780	total: 239ms	remaining: 35.7ms
87:	learn: 1.0384736	total: 240ms	remaining: 32.7ms
88:	learn: 1.0376842	total: 240ms	remaining: 29.7ms
89:	learn: 1.0370455	total: 241ms	remaining: 26.8ms
90:	learn: 1.0362799	total: 242ms	remaining: 24ms
91:	learn: 1.0356405	total: 243ms	remaining: 21.1ms
92:	learn: 1.0353872	total: 244ms	remaining: 18.4ms
93:	learn: 1.0348053	total: 245ms	remaining: 15.6ms
94:	learn: 1.0339223	total: 246ms	remaining: 12.9ms
95:	learn: 1.0329632	total: 246ms	remaining: 10.3ms
96:	learn: 1.0324732	total: 247ms	remaining: 7.65ms
97:	learn: 1.0315354	total: 248ms	remaining: 5.06ms
98:	learn: 1.0310435	total: 249ms	remaining: 2.52ms
99:	learn: 1.0306782	total: 250ms	remaining: 0us

In [14]:
preds_class = model.predict(x_test)
yt = np.array(y_test)
right = 0 # Проведем тестирование модели в ручном виде.
total = 0 # для этого прогоним тестовую выборку через модель
for i in range(400): # и сравним полученные значения
    if yt[[i]] == preds_class[[i]]:
        right += 1
    total += 1
print("Точность модели на тестовой выборке: ", right/total*100, "%")

Точность модели на тестовой выборке:  35.0 %

In [15]:
# сохраним модель в файл
model.save_model("class_1.cbm")

In [16]:
# создадим функцию для прогноза оценки
def classify_mark():
    model1 = CatBoostClassifier()
    model1.load_model("class_1.cbm")
    print('Введите оценку по MA: ')
    MA = input()
    print('Введите оценку по Phys: ')
    Phys = input()
    print('Введите оценку по Math Modeling: ')
    MM = input()
    print('Введите оценку по Web Programming: ')
    WP = input()
    print('Введите оценку по DB Engineering: ')
    DBE = input()
    print('Введите оценку по Computer Graphics: ')
    CG = input()
    print('Введите время затраченное на работу: ')
    wTime = input()
    dataClassify = [MA, Phys, MM, WP, DBE, CG, wTime]
    res = model1.predict(dataClassify)
    if res == 0:
        print("удовлетворительно")
    elif res == 1:
        print("хорошо")
    else:
        print("отлично")

In [17]:
# протестируем функию проверки оценки
classify_mark()

Введите оценку по MA:
100
Введите оценку по Phys:
100
Введите оценку по Math Modeling:
100
Введите оценку по Web Programming:
100
Введите оценку по DB Engineering:
100
Введите оценку по Computer Graphics:
100
Введите время затраченное на работу:
90
хорошо

#### Результат некорректный, так как выборка случайная.
#### Однако все работает, как и должно.